/* CM POPUP */

#cm_wrapper{
    position: fixed;
    background: red;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: auto;
    display: none;
}
.cm_popup{
    position: absolute;
}
/* END CM POPUP */