html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
* {margin: 0;padding: 0;}
html, body {
    width: 100%;
    height: 100%;
    position: relative;
}
html{}
body{}
.paginator *{display: inline;}
.item{float: left}
.update{background: red;width: 100px;height: 100px;}



.counter_item{
    background: url("../img/login_counter_item_bg.png") no-repeat 0px 0px;
    width: 47px;
    height: 64px;
    float: left;
}

.counter_item div{
    width: 47px;
    height: 64px;
}

.counter_item_0{
    background: url("../img/login_count_0.png") no-repeat 0px 0px;
}

.counter_item_1{
    background: url("../img/login_count_1.png") no-repeat 0px 0px;
}

.counter_item_2{
    background: url("../img/login_count_2.png") no-repeat 0px 0px;
}

.counter_item_3{
    background: url("../img/login_count_3.png") no-repeat 0px 0px;
}

.counter_item_4{
    background: url("../img/login_count_4.png") no-repeat 0px 0px;
}

.counter_item_5{
    background: url("../img/login_count_5.png") no-repeat 0px 0px;
}

.counter_item_6{
    background: url("../img/login_count_6.png") no-repeat 0px 0px;
}

.counter_item_7{
    background: url("../img/login_count_7.png") no-repeat 0px 0px;
}

.counter_item_8{
    background: url("../img/login_count_8.png") no-repeat 0px 0px;
}

.counter_item_9{
    background: url("../img/login_count_9.png") no-repeat 0px 0px;
}

.rounded{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 60px;
}
#popup{
    /*background: green;*/
    /*width: 200px;*/
    /*height: 200px;*/
    display: none;
}

/* CM POPUP */

#cm_wrapper{
    position: fixed;
    background: red;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: auto;
    display: none;
}
.cm_popup{
    position: absolute;
}
/* END CM POPUP */